html, body {position: relative; height: auto;}
body {background: #eee; margin: 0; padding: 0;}
.swiper-container {width: 500px; height: 500px; margin-left: 15%; margin-top: 10%; background: #fff;}
/* .swiper-container {position: relative; height: 100%; width: 720px; margin: 0 auto;} */
.swiper-slide {text-align: center; font-size: 18px; display: flex; justify-content: center; top: 50px; align-items: center;}
.second-slide {padding-top: 20%; background: #fff;}
.second-slide:active {background: #fff;}
/* .swiper-container-horizontal >.swiper-pagination-bullets {padding-top: 20px !important;} */
/* .swiper-pagination {position: relative; height: auto; margin-top: 300px; margin-bottom: 50px;} */
/* .swiper-button-next, .swiper-button-prev {position: relative; height: auto;} */
/* .swiper-button-next {} */
/* .swiper-pagination {position: relative; z-index: 5; top: 20px;} */
/* .swiper-button-next, .swiper-button-prev {color: pink !important;} */
/* .swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {position: absolute; width: 100px; height: 100px; background: url(/Project/Publishing/Layout_Testing/resources/img/icon-location.png) no-repeat; background-size: 50% auto; background-position: center;} */
.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {margin: 0; width: 100px; height: 100px; background-color: transparent; border-radius: 0;}
.swiper-container .swiper-button-next {right: -80px;}
.swiper-container .swiper-button-prev {left: -80px;}
.swiper-container .swiper-button-prev:before, .swiper-contaioner .swiper-button-next:before {
    content: ''; position: absolute; left: 0; top: 0; width: inherit; height: inherit; background: url(/Project/Publishing/Layout_Testing/resources/img/icon-location.png) no-repeat;
}
.swiper-contaienr .swiper-button-next:before {transform: rotate(180deg)}
/* .swiper-container .swiper-button-next {transform: rotate(-180deg);} */

/* .swiper-button-prev {position: absolute; width: 100px; height: 100px; background: url(/Project/Publishing/Layout_Testing/resources/img/icon-location.png) no-repeat; background-size: 50% auto; background-position: center;} */
.swiper-button-next::after, .swiper-button-prev::after {display: none;}
.swiper-pagination {min-width: 100%; margin-left: -17.5%; margin-top: 1%; justify-content: center;}
/* .swiper-pagination {position: relative; height: auto; margin-bottom: 75px; display: flex; justify-content: center; top: 30px;} */
.swiper-pagination-bullet {width: 12px; height: 12px; background: transparent; border: 1px solid pink; opacity: 1; justify-content: space-between;}
/* .swiper-pagination-bullet-active {width: 40px; transition: width .5s; border-radius: 5px; background: pink; border: 1px solid transparent;} */
.swiper-pagination-bullet-active {width: 40px; border-radius: 5px; background: pink; border: 1px solid transparent;}
