html, body {position: relative; height: auto;}
body {background: #eee; margin: 0; padding: 0;}
.swiper-container {width: 500px; height: 500px; margin-left: 15%; margin-top: 10%; background: #fff;}
/* .swiper-container {position: relative; height: 100%; width: 720px; margin: 0 auto;} */
.swiper-slide {text-align: center; font-size: 18px; display: flex; justify-content: center; top: 50px; align-items: center;}
/* .swiper-container-horizontal >.swiper-pagination-bullets {padding-top: 20px !important;} */
/* .swiper-pagination {position: relative; height: auto; margin-top: 300px; margin-bottom: 50px;} */
/* .swiper-button-next, .swiper-button-prev {position: relative; height: auto;} */
/* .swiper-button-next {} */
/* .swiper-pagination {position: relative; z-index: 5; top: 20px;} */
/* .swiper-button-next, .swiper-button-prev {color: pink !important;} */
.swiper-button-next {position: absolute; right: 38%; width: 100px; height: 100px; background: url(/Project/Publishing/Layout_Testing/resources/img/icon-location.png) no-repeat; background-size: 50% auto; background-position: center; transform: rotate(180deg);}
.swiper-button-prev {position: absolute; width: 100px; height: 100px; background: url(/Project/Publishing/Layout_Testing/resources/img/icon-location.png) no-repeat; background-size: 50% auto; background-position: center;}
.swiper-button-next::after, .swiper-button-prev::after {display: none;}
.swiper-pagination {min-width: 100%; margin-left: -17.5%; margin-top: 1%; justify-content: center;}
/* .swiper-pagination {position: relative; height: auto; margin-bottom: 75px; display: flex; justify-content: center; top: 30px;} */
.swiper-pagination-bullet {width: 12px; height: 12px; background: transparent; border: 1px solid pink; opacity: 1; justify-content: space-between;}
/* .swiper-pagination-bullet-active {width: 40px; transition: width .5s; border-radius: 5px; background: pink; border: 1px solid transparent;} */
.swiper-pagination-bullet-active {width: 40px; border-radius: 5px; background: pink; border: 1px solid transparent;}
